@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body{
	margin: 0px;
	padding: 0px;
	color: #fff;
}
h1{
	font-size: 200px;
	margin: 0 0 80px;
	font-family: 'Open Sans';
}
ul{
	margin:0px;
	padding: 0px;
}
.error-message{
	text-align: center;
	margin-top: 180px;
}
.links ul{
	display: table;
	list-style: none;
	color: #fff;
	margin: 20px auto;	
}
.links ul li{
	float: left;
	margin-right: 2px;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	padding: 5px 10px;
}
.links ul a{
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans'; 
	font-weight: 300;
	font-size: 15px;
}
 
.message{
	font-family: 'Open Sans'; 
	font-weight: 300;
	font-size: 20px;
}
.color-stripes{
	display: table;
	margin: auto;
}
.color-stripes ul li{
	float: left;
	list-style: none;
}
.color-stripes ul a{
	display: inline-block;
	width: 40px;
	height: 15px;
}
.Magenta{
	background: #FF0097;
}
.Purple{
	background: #A200FF;
}
.Teal{
	background: #00ABA9;
}
.Lime{
	background: #8CBF26;
}
.Brown{
	background: #A05000;
}
.Pink{
	background: #E671B8;
}
.Orange{
	background: #F09609;
}
.Blue{
	background: #1BA1E2;
}
.Red{
	background: #E51400;
}
.Green{
	background: #339933;
}
.Grey{
	background: #282828;
}
282828
/* override bootstrap icon styles*/
i{
	display: inline-block;
	width: auto;
	height: auto;
	margin-top: 6px !important;
	line-height: 0px !important;
	vertical-align: text-top;
	background-image: none !important;
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
/* override bootstrap icon styles*/
 






