<section>
<br><br><br><br><br>
  <h2>About Me</h2>
  <p>My name is <a href="mailto:webmaster@bocil.org">Rezha Julio</a>. I am taking Chemistry major at Bandung Institute of Technology.
  At 2008 I am starting to learn my first programming language, Python.
  I have been programming since then. I am working as programming freelancer every now and then.</p>
</section>


{% if site.author.twitter.user %}
<section>
  {% if site.author.twitter.follow_button %}
    <a href="http://twitter.com/{{ site.author.twitter.user }}" class="twitter-follow-button" data-width="208px" data-show-count="{{ site.author.twitter.show_follower_count }}">Follow @{{ site.author.twitter.user }}</a>
  {% else %}
    <p>Follow <a href="http://twitter.com/{{site.author.twitter.user}}">@{{ site.author.twitter.user }}</a></p>
  {% endif %}
</section>
<br><br><br>
{% endif %}

<section>
	{% assign posts_collate = site.posts %}
	{% include JB/posts_collate %}
</section>
<!--
<section>
<div class="twitter_feed"></div>
</section>
-->